{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container">
      <div class="pull-right">
        <button type="submit" form="form-news" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_add }}</h3>
      </div>
      <div class="panel-body">
        
         <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-news" class="form-horizontal">
          
           <div class="form-group">
              <label class="col-sm-2 control-label" for="input-table">{{ form_table_type }}</label>
              <div class="col-sm-10">
                <select name="table" id="input-table" class="form-control">
                  <option value="-1">{{text_all}}</option>
                  {% for table in tables %}
                    <option value="{{table.id}}">{{table.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-route">{{ form_route }}</label>
              <div class="col-sm-10">
                <select name="nxc_route_id" id="input-route" class="form-control">
                  <option value="-1">-</option>
                  {% for route in routes %}
                    <option value="{{route.nxc_route_id}}">{{route.name}} #{{route.html_id}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-formula">{{ form_formula }}</label>
              <div class="col-sm-10">
                <select name="nxc_formula_id" id="input-formula" class="form-control">
                  <option value="-1">-</option>
                  {% for formula in formulas %}
                    <option value="{{formula.nxc_formula_id}}">{{formula.name}} -> {{formula.formula}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" for="input-status">{{ form_table }}</label>
              <div class="col-sm-10">
                
                <select name="table_id" id="input-status" class="form-control">
                  <option value="-1">{{text_all}}</option>
                  
                </select>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
<script>
  $(function() {
      $('#input-table').on('change', function() {
        if(this.value > -1) {
        $.ajax({
                url: 'index.php?route=extension/module/nx_calculator/type&user_token={{token}}&type='+this.value,
                type: 'get',
                success: function(json) {
                  if(json.success) {
                    $('#input-status').empty();
                    for(let i = 0; i < json.table.length; i++) {
                      let table = json.table[i];
                      $('#input-status').append($('<option>', { 
                          value: table.id,
                          text : table.name 
                      }));
                    }
                  }
                },
                error: function(error) {
                  alert(error);
                }
            });
        }
        else {
          $('#input-status').empty();
          $('#input-status').append($('<option>', { 
                          value: -1,
                          text : '{{text_all}}' 
                      }));
        }
      });
  });
</script>